.carousel-container {
  position: relative;
  width: 100%;
  height: 300px; /* Altura fija para el carrusel */
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Asegura que las imágenes se ajusten al contenedor sin deformarse y se vean completas */
}





.carousel-button {
  position: absolute;
  height: 100px;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.previous {
  left: 0;
  z-index: 20;
}

.next {
  right: 0;
}

.texto{
  background: linear-gradient(to right, #7ecf49 ,#04bbf1,#1d4370);
  background-clip: text; /* Aplicar el gradiente directamente a las letras */
  -webkit-background-clip: text; /* Para navegadores basados en WebKit */
  color: transparent;  
}

.boton {
  /* Establece el tamaño del botón y otros estilos */

  font-size: 12px;
  cursor: pointer;
  display: block;
  margin: auto;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #7ecf49;
}


img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
 
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  cursor: pointer;

}

.item{

  animation: movedown 1s linear forwards;
  opacity: 0;
 
  @keyframes movedown {
    0%{
      opacity: 1;
      transform: translateY(-30px);
    }
  
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
    
  }
}


.item1{
  animation-delay: 0s;
}

.item2{
  animation-delay: 1s;
}

.item3{
  animation-delay: 2s;
}

.item4{
  animation-delay: 3s;
}


.item{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-family: "Poppins";
}

.item h2{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.item p{
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}






/*linetime*/

.contenedor-linea{
  padding-bottom: 200px;
  overflow: hidden;
  
  width: 100%;
 
}


.top-section{
  text-align: center;
  padding: 0 0 2rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline{
  position: relative;
  min-height: 150px;
}

.line{
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #7ecf49;

}

.line::before,
.line::after{
  position: absolute;
  display: block;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #7ecf49;
  left: 50%;
  transform: translateX(-50%);
}


.line::after{
  bottom: 0;
}


.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  align-items: center;
  min-height: 150px;
  width: 30%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}



.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #7ecf49;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content{
  width: calc(50% - 2rem);
  text-align: center;
}

.show-me:nth-child(n){
  transform: none;
  opacity: 1;

}
