section{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #fff 5%, #7ecf49 ,#04bbf1,#1d4370);
    
}


.button {
    padding: 17px 17px;
    font-size: 20px;
    background-color: #7ecf49; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    
    /* Sombra */
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.5); /* Sombra con desplazamiento vertical de 4px y desplazamiento horizontal de 0px */
  }
  
  /* Estilos adicionales al pasar el mouse sobre el botón */
    .button:hover {
        transition: all;
        transition-duration: 0.3s;
    background-color: #39d3ff; /* Cambio de color de fondo */
    
  }



  .sombra::after{
    position: absolute;
  bottom: -10px;
  left: 50%; /* Centra horizontalmente con respecto al div padre */
  transform: translateX(-50%); /* Mueve el 50% del ancho del propio elemento */
  content: "";
  background-color: rgb(0, 0, 0);
  width: 300px;
  height: 20px;
  filter: blur(15px);
  z-index: 100;
  }