@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
    margin: 0 20px;
}

.boton {
    background: linear-gradient(to right, #7ecf49 ,#04bbf1,#1d4370);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background 0.3s ease;
}

